* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: crimson;
}

main {
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .products {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
main .products .card {
    margin: 0 25px;
    text-align: center;
}
main .products .card img, main .details img {
    height: 300px;
}
main .details {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}